In [12]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
# 
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

In [14]:
df = pd.read_csv('서울전월세_data.csv')
df.head()

,구분,질문,답변
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....
1,송파구 장지동 월세,송파구 장지동에 아파트 월세 보여주세요.,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...
2,은평구 역촌동 월세,은평구 역촌동에 연립다세대 월세 보여주세요.,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....
3,강동구 강일동 월세,강동구 강일동에 아파트 월세 보여주세요.,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12.0층 ...
4,구로구 천왕동 월세,구로구 천왕동에 아파트 월세 보여주세요.,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7.0층 ...

- 인코딩 후 데이터 셋 저장

In [15]:
model.encode(df.질문)

array([[-0.09031671, -0.49309778,  0.6739676 , ..., -0.46691802,
         0.02408064,  0.27559984],
       [-0.2059905 , -0.43878374,  0.2951059 , ..., -0.10445013,
        -0.01905461, -0.14625923],
       [ 0.16635455, -0.6806232 ,  0.58046913, ..., -0.2931628 ,
        -0.12906599, -0.50989664],
       ...,
       [ 0.31335464, -0.65680736,  0.67408234, ..., -0.21564373,
         0.08292918,  0.3591819 ],
       [ 0.11932205, -0.6476217 ,  0.6298727 , ..., -0.2750765 ,
         0.05618722,  0.493688  ],
       [-0.02186658, -0.51774377,  0.16902675, ...,  0.00363165,
         0.10317638,  0.15725794]], dtype=float32)

In [16]:
df['embedding'] = pd.Series([[]] * len(df))     #  더미데이터
df.shape

(8075, 4)

In [17]:
df.embedding = df.질문.map(lambda x: list(model.encode(x)))
df.head(3)

,구분,질문,답변,embedding
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038..."
1,송파구 장지동 월세,송파구 장지동에 아파트 월세 보여주세요.,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,"[-0.20599024, -0.438784, 0.295106, -0.41021588..."
2,은평구 역촌동 월세,은평구 역촌동에 연립다세대 월세 보여주세요.,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,"[0.16635458, -0.68062335, 0.580469, -0.5799484..."

In [18]:
df.to_csv('서울전월세_임베딩.csv', index=False)