In [18]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
# 
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

- 챗봇

In [20]:
import json
wdf = pd.read_csv('서울전월세_임베딩.csv')
wdf.embedding = wdf.embedding.apply(json.loads)
wdf.head(3)

,구분,질문,답변,embedding
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038..."
1,송파구 장지동 월세,송파구 장지동에 아파트 월세 보여주세요.,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,"[-0.20599024, -0.438784, 0.295106, -0.41021588..."
2,은평구 역촌동 월세,은평구 역촌동에 연립다세대 월세 보여주세요.,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,"[0.16635458, -0.68062335, 0.580469, -0.5799484..."

In [21]:
text = '서울 월세 싼곳 추천해주세요'
embedding = model.encode(text)

In [22]:
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
wdf.head(3)

,구분,질문,답변,embedding,유사도
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152
1,송파구 장지동 월세,송파구 장지동에 아파트 월세 보여주세요.,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,"[-0.20599024, -0.438784, 0.295106, -0.41021588...",0.582133
2,은평구 역촌동 월세,은평구 역촌동에 연립다세대 월세 보여주세요.,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,"[0.16635458, -0.68062335, 0.580469, -0.5799484...",0.583342

In [23]:
wdf.유사도.idxmax()

975

In [24]:
wdf.iloc[wdf.유사도.nlargest(5)]

,구분,질문,답변,embedding,유사도
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152
0,용산구 도원동 월세,용산구 도원동에 아파트 월세 보여주세요.,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.09031706, -0.493098, 0.6739672, 0.12111038...",0.529152

In [25]:
answer = 5
sr = [wdf['답변'][i] for i in wdf['유사도'].argsort()[:-answer-1:-1]]

In [26]:
for i, response in enumerate(sr, 1):
    print(f"{i}: {response}")

1: 성북구 하월곡동에 있는 2003년에 지어진 월곡두산위브 아파트은/는 4.0층 84.65m²(임대면적) 기준으로 보증금 10000만원 임대료는 50만원에 월세로 거래되었습니다.
2: 성북구 하월곡동에 있는 2010년에 지어진 꿈의숲푸르지오 아파트은/는 5.0층 84.73m²(임대면적) 기준으로 보증금 20000만원 임대료는 100만원에 월세로 거래되었습니다.
3: 성북구 하월곡동에 있는 2003년에 지어진 월곡두산위브 아파트은/는 5.0층 84.77m²(임대면적) 기준으로 보증금 11000만원 임대료는 23만원에 월세로 거래되었습니다.
4: 성북구 삼선동4가에 있는 1999년에 지어진 코오롱 아파트은/는 12.0층 114.84m²(임대면적) 기준으로 보증금 50000만원 임대료는 60만원에 월세로 거래되었습니다.
5: 성북구 삼선동4가에 있는 1999년에 지어진 코오롱 아파트은/는 12.0층 114.84m²(임대면적) 기준으로 보증금 50000만원 임대료는 60만원에 월세로 거래되었습니다.

In [27]:
wdf.답변[wdf.유사도.idxmax()]

'성북구 하월곡동에 있는 2003년에 지어진 월곡두산위브 아파트은/는 4.0층 84.65m²(임대면적) 기준으로 보증금 10000만원 임대료는 50만원에 월세로 거래되었습니다.'

In [28]:
text = '반포동에 전세 아파트 보증금이 궁금해'
embedding = model.encode(text)
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
answer = wdf.답변[wdf.유사도.idxmax()]
answer

'서초구 반포동에 있는 2016년에 지어진 아크로리버파크 아파트은/는 19.0층 84.95m²(임대면적) 기준으로 보증금 180000만원 전세로 거래되었습니다.'