In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

In [3]:
df = pd.read_csv('data/서울전월세.csv')
df.head()

,구분,질문,답변
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...
3,전월세가,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...
4,전월세가,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...

In [4]:
df.isna()

        구분     질문     답변
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
495  False  False  False
496  False  False  False
497  False  False  False
498  False  False  False
499  False  False  False

[500 rows x 3 columns]

In [5]:
df = df.dropna()
df

,구분,질문,답변
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...
3,전월세가,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...
4,전월세가,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...
...,...,...,...
495,전월세가,양천구 신정동에 있는 2011년에 지어진 이펜하우스1단지 아파트은/는 4층 84.5...,양천구 신정동에 있는 2011년에 지어진 이펜하우스1단지 아파트은/는 4층 84.5...
496,전월세가,도봉구 창동에 있는 년에 지어진 단독다가구은/는 0층 42.0m²(임대면적) 기준...,도봉구 창동에 있는 년에 지어진 단독다가구은/는 0층 42.0m²(임대면적) 기준...
497,전월세가,마포구 상암동에 있는 2003년에 지어진 상암월드컵파크1단지 아파트은/는 17층 4...,마포구 상암동에 있는 2003년에 지어진 상암월드컵파크1단지 아파트은/는 17층 4...
498,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크9단지 아파트은/는 6층 59....,강동구 강일동에 있는 2009년에 지어진 강일리버파크9단지 아파트은/는 6층 59....
499,전월세가,강남구 수서동에 있는 2016년에 지어진 하니움 아파트은/는 3층 35.37m²(임...,강남구 수서동에 있는 2016년에 지어진 하니움 아파트은/는 3층 35.37m²(임...

In [6]:
df.shape

(500, 3)

- 정규화

In [7]:
# \u200b가 출력되는 문제 해결
df['답변'] = df['답변'].str.replace('\u200b', ' ')
df

,구분,질문,답변
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...
3,전월세가,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...,구로구 천왕동에 있는 2011년에 지어진 천왕이펜하우스4단지 아파트은/는 6층 59...
4,전월세가,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...,마포구 아현동에 있는 2015년에 지어진 공덕자이 아파트은/는 18층 59.99m²...
...,...,...,...
495,전월세가,양천구 신정동에 있는 2011년에 지어진 이펜하우스1단지 아파트은/는 4층 84.5...,양천구 신정동에 있는 2011년에 지어진 이펜하우스1단지 아파트은/는 4층 84.5...
496,전월세가,도봉구 창동에 있는 년에 지어진 단독다가구은/는 0층 42.0m²(임대면적) 기준...,도봉구 창동에 있는 년에 지어진 단독다가구은/는 0층 42.0m²(임대면적) 기준...
497,전월세가,마포구 상암동에 있는 2003년에 지어진 상암월드컵파크1단지 아파트은/는 17층 4...,마포구 상암동에 있는 2003년에 지어진 상암월드컵파크1단지 아파트은/는 17층 4...
498,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크9단지 아파트은/는 6층 59....,강동구 강일동에 있는 2009년에 지어진 강일리버파크9단지 아파트은/는 6층 59....
499,전월세가,강남구 수서동에 있는 2016년에 지어진 하니움 아파트은/는 3층 35.37m²(임...,강남구 수서동에 있는 2016년에 지어진 하니움 아파트은/는 3층 35.37m²(임...

- 인코딩 후 데이터 셋 저장

In [8]:
model.encode(df.질문[0])

array([-1.07561743e+00, -1.36193126e-01, -4.67056111e-02, -2.03014567e-01,
       -2.27336418e-02,  2.27693036e-01, -8.33551064e-02,  2.54176855e-01,
        1.84372231e-01,  2.64735311e-01,  3.35234672e-01, -2.01768011e-01,
        1.47822276e-01,  8.28635022e-02,  1.31970868e-01,  2.43855581e-01,
        5.99162042e-01,  2.27708235e-01, -1.12539930e-02, -5.87060094e-01,
        4.27565038e-01, -2.36056689e-02,  5.67170620e-01, -4.66922224e-01,
       -2.63083614e-02,  6.49978042e-01, -6.90693036e-02,  1.96994096e-01,
        6.34067357e-02, -1.74277231e-01,  2.83002913e-01,  8.30795243e-02,
       -1.58641219e-01,  2.43053928e-01,  2.62912549e-02, -1.37769505e-01,
       -2.07417712e-01, -3.02234411e-01,  4.81674939e-01, -1.85216188e-01,
       -6.97981042e-04, -4.69403267e-01,  2.03553841e-01, -1.99191198e-01,
        6.74956858e-01,  7.28757903e-02,  7.62353003e-01,  1.87344149e-01,
        4.47865754e-01,  2.46795073e-01,  4.65990543e-01,  2.06757337e-01,
       -3.99865150e-01,  1.43637076e-01, -5.89805782e-01, -4.27413076e-01,
        7.77518600e-02, -6.26902878e-01, -3.63658398e-01, -2.88999885e-01,
       -3.95608582e-02, -8.79981935e-01, -6.08715713e-01,  3.83625120e-01,
       -6.16104603e-02,  6.28668740e-02, -9.16172639e-02,  6.53077662e-01,
        3.48979175e-01, -1.19291373e-01,  1.60616666e-01, -1.32477984e-01,
        6.98677897e-01, -5.46513319e-01, -4.52823162e-01,  1.56064048e-01,
        1.27910510e-01,  2.36210510e-01,  6.97223246e-01, -1.74623262e-02,
       -7.03210384e-02, -6.44823760e-02,  1.81369036e-02,  9.61079970e-02,
        4.71751362e-01, -3.86707075e-02, -9.05532837e-01, -9.10397768e-02,
        4.37491030e-01, -3.06128301e-02, -2.56141394e-01, -4.51610327e-01,
       -3.28007162e-01,  8.04316550e-02, -9.02437642e-02, -5.70977628e-01,
        2.63221830e-01, -4.92276371e-01,  6.40196681e-01, -4.30795223e-01,
        3.26740481e-02,  4.00326222e-01,  2.83425301e-01,  1.17308088e-01,
       -1.49047449e-01,  1.75985135e-02, -1.50842160e-01, -1.30587459e-01,
        4.52433527e-01, -1.47437021e-01,  3.50417614e-01, -1.08245410e-01,
        1.81949720e-01,  1.33107513e-01,  2.99102634e-01,  1.14673808e-01,
       -4.76314753e-01, -3.09910625e-01,  4.33367670e-01, -2.46779844e-01,
        1.78614900e-01, -2.10715324e-01, -7.28248596e-01, -1.51498869e-01,
       -1.69081613e-01,  5.76253474e-01,  2.73409545e-01, -6.21065870e-02,
        2.26122126e-01,  4.06872541e-01, -1.10051632e-02,  3.23519856e-01,
       -4.10849839e-01,  3.09059560e-01, -6.38099551e-01, -4.22616191e-02,
        1.65308625e-01, -2.23904893e-01,  6.60185635e-01, -3.04198891e-01,
       -4.86188412e-01, -2.44316071e-01,  3.46849740e-01, -2.58025914e-01,
        4.32218552e-01, -5.69332957e-01,  1.03985086e-01, -6.99314475e-01,
       -3.91299725e-01, -2.65127897e-01, -3.96886826e-01, -2.46163264e-01,
       -1.75553575e-01,  1.38718650e-01, -4.69901174e-01, -2.63112728e-02,
       -4.96406108e-01,  1.14435449e-01,  5.46160974e-02, -1.17480926e-01,
       -1.50282189e-01, -3.37221593e-01, -5.17916717e-02, -2.05278635e-01,
       -2.40442008e-01, -2.15054393e-01, -2.86650091e-01,  4.61653501e-01,
       -4.35246438e-01,  5.15678942e-01, -2.85477340e-01, -1.44824579e-01,
       -4.14156467e-01, -9.97894779e-02,  5.86230159e-01, -7.49026239e-01,
       -3.46581191e-01,  5.83514646e-02, -5.84396780e-01,  1.27278790e-01,
        5.37294932e-02,  2.07872286e-01, -2.84995377e-01,  8.26445073e-02,
        5.03825784e-01,  2.68895149e-01, -5.65037787e-01,  3.12321931e-01,
        3.52740318e-01,  1.41520381e-01,  3.50537226e-02,  3.80403223e-03,
       -8.63934383e-02,  2.18644246e-01,  2.27088004e-01,  6.55414835e-02,
        3.10635060e-01, -1.51808947e-01, -2.86444336e-01,  1.79728270e-02,
       -5.13429463e-01,  9.59631875e-02, -9.26904306e-02, -1.96752176e-01,
       -5.29591680e-01,  4.83684331e-01,  8.06352571e-02, -5.27434647e-01,
       -1.01013052e+00,  4.18162271e-02, -1.98274657e-01,  5.03061652e-01,
        4.33457345e-01, -3.44610363e-01, -4.50738132e-01,  1.85036585e-01,
        1.18729524e-01, -5.01567900e-01, -1.21497981e-01, -3.82715724e-02,
        6.52587950e-01,  2.40221411e-01,  4.61351544e-01, -3.31184536e-01,
        4.20246124e-01,  1.24704972e-01,  1.52722567e-01, -1.89976260e-01,
       -2.20664531e-01, -7.68929645e-02,  2.23179162e-02,  2.84188479e-01,
       -1.68490168e-02,  6.26990944e-02, -2.95428663e-01, -8.02818760e-02,
       -2.19175592e-01, -2.90023554e-02, -1.63469702e-01, -5.25956824e-02,
        9.68857035e-02, -2.89041549e-01,  2.39141479e-01, -6.95304573e-01,
       -5.35736740e-01,  2.53474504e-01, -4.56596874e-02,  2.44214550e-01,
        1.97022438e-01, -2.04372093e-01,  3.55939150e-01,  5.42523205e-01,
        6.02438748e-01, -2.48653546e-01,  1.00678779e-01,  1.90560557e-02,
        6.63636148e-01,  1.72626287e-01, -4.71180052e-01,  2.41111159e-01,
       -1.01451918e-01, -2.72721320e-01, -2.91481316e-01, -6.12505013e-03,
        8.21446031e-02,  1.47591218e-01,  5.79678118e-01, -5.64968467e-01,
        7.12104440e-01,  3.78764048e-02, -1.78495482e-01, -1.61152944e-01,
        2.42445514e-01, -4.07491624e-01, -1.36573926e-01,  2.10223481e-01,
       -4.20442343e-01, -5.39732754e-01, -1.78378955e-01,  4.14546669e-01,
        5.70558906e-02, -1.27291828e-01, -4.72447067e-01,  8.90432149e-02,
        8.46595243e-02,  3.28309163e-02,  8.50917697e-02,  1.75620578e-02,
       -1.32629052e-01,  3.41727138e-02,  3.27849150e-01,  3.75584334e-01,
        3.17163095e-02, -4.93410379e-01,  6.98500514e-01,  4.78326112e-01,
       -3.34346332e-02,  1.72119007e-01, -8.35006163e-02,  5.02654552e-01,
       -3.89203370e-01,  1.15937009e-01,  9.88131821e-01,  3.48089077e-02,
       -3.77057701e-01,  6.86051175e-02,  9.11766067e-02,  5.65795481e-01,
        6.27254602e-03,  7.97101781e-02,  9.72327232e-01, -5.47556698e-01,
        4.43126149e-02, -4.22018737e-01,  7.99485624e-01, -2.11260729e-02,
       -2.95174807e-01, -7.17851669e-02, -3.60770762e-01, -3.31088066e-01,
        7.92994127e-02,  5.23828529e-02, -1.24733344e-01,  1.80942789e-01,
       -3.59237134e-01,  3.43615323e-01, -4.24480230e-01, -1.29218847e-01,
        2.04852268e-01, -6.69781268e-01,  8.52560028e-02,  3.22637290e-01,
       -1.13844126e-02,  9.32231098e-02, -1.17985860e-01, -1.18490815e-01,
       -4.15826261e-01, -3.43217760e-01, -1.92640081e-01, -7.13045239e-01,
        2.98710257e-01, -2.01980509e-02, -4.76634979e-01, -2.00097606e-01,
        3.42253059e-01,  4.90782171e-01,  2.47486502e-01, -2.37652659e-01,
       -8.14018548e-01, -1.17526643e-01, -1.78529218e-01, -2.52519757e-01,
       -5.96702158e-01, -2.34654546e-01,  5.49515903e-01, -4.62475032e-01,
        7.48536224e-03,  1.94547147e-01, -5.81268013e-01, -1.45523310e-01,
        1.34076670e-01, -3.20628613e-01, -3.33559483e-01,  2.66830772e-01,
        2.56478727e-01, -9.73017812e-02,  3.52030918e-02, -6.35256231e-01,
        1.62366599e-01, -6.91761225e-02, -4.68782187e-01, -3.08185313e-02,
       -1.99025735e-01, -4.71952289e-01, -4.21474010e-01,  2.05409244e-01,
        3.62930298e-01, -5.27812660e-01,  7.05080703e-02,  1.98398829e-01,
        1.46841034e-01, -8.12974647e-02, -3.00755292e-01, -2.05468655e-01,
       -9.72956046e-02, -5.86097896e-01, -3.27686459e-01,  4.48360115e-01,
       -1.16078007e+00,  1.46876737e-01, -6.89921558e-01, -4.00931805e-01,
       -6.02811873e-01, -3.32160652e-01, -3.43023837e-01, -2.46251583e-01,
        1.70473143e-01,  6.53542042e-01, -3.09551656e-01, -2.36673921e-01,
        6.89460412e-02,  4.55708027e-01, -1.25193879e-01, -3.41936201e-01,
        1.58717468e-01,  2.71434784e-01,  7.56778521e-03, -1.38171628e-01,
        2.79085133e-02,  3.71127427e-01,  8.90867487e-02, -6.96345031e-01,
        1.97073057e-01,  3.49609673e-01, -2.16608971e-01,  3.41924846e-01,
       -4.74152267e-02,  1.16757616e-01,  2.41239280e-01, -2.67802298e-01,
       -2.94627666e-01, -4.54527527e-01, -1.78290121e-02,  1.03633955e-01,
        6.71184003e-01,  8.93297344e-02, -2.32416704e-01, -1.97758943e-01,
       -1.63575649e-01, -2.87189662e-01,  2.91596025e-01, -2.80532122e-01,
        3.71434271e-01, -3.61417562e-01, -5.43254137e-01,  2.87650049e-01,
        2.25254223e-01, -2.68822342e-01, -2.78341532e-01, -1.07947484e-01,
        9.75650083e-03,  2.86245048e-01,  2.88070619e-01, -4.49307233e-01,
        1.46513909e-01, -3.52194086e-02, -7.95744807e-02,  4.44536299e-01,
        1.87757630e-02, -3.64566475e-01, -9.70654637e-02, -3.90351206e-01,
        7.44610310e-01,  1.07745349e-01,  1.19930089e-01,  6.00416958e-01,
       -5.27287841e-01,  6.57172203e-01, -1.57590240e-01, -1.61684901e-01,
        2.50631720e-01, -1.41076833e-01,  3.11688036e-01, -5.15483953e-02,
        4.16776538e-02, -7.85820112e-02,  2.17439029e-02,  3.77467424e-01,
        4.65637267e-01,  1.19442172e-01, -3.77385706e-01, -1.46427482e-01,
        1.39946043e-01, -2.81394839e-01,  9.04333144e-02, -1.78137094e-01,
       -5.26416898e-01,  9.79565606e-02, -4.75120157e-01,  3.52089971e-01,
       -7.16656804e-01,  4.66314554e-01,  2.80743271e-01,  2.58422822e-01,
       -3.97752523e-01, -1.15739062e-01,  3.34689207e-02,  2.83725023e-01,
       -7.95704722e-02,  5.58910370e-01,  6.01357929e-02,  5.02157472e-02,
        3.75156790e-01, -3.20385903e-01,  1.06861360e-01, -3.40615749e-01,
       -7.60567859e-02,  1.00724101e-01,  4.44480479e-01, -2.53768861e-01,
       -5.42445242e-01,  1.79848552e-01,  4.00787927e-02,  3.04474197e-02,
       -1.16748698e-01,  7.45880723e-01,  2.81030864e-01,  9.64725390e-02,
        7.28569552e-02, -1.11452274e-01, -1.02769241e-01,  3.51042658e-01,
       -7.62138739e-02, -7.29182124e-01,  3.33584547e-01, -5.21855392e-02,
        6.76809018e-03, -1.20828087e-02,  2.52857041e-02,  4.66743022e-01,
       -2.42720872e-01,  4.19795841e-01, -3.97849157e-02,  1.49869829e-01,
       -1.56596795e-01,  1.89955369e-01, -3.39234203e-01, -4.75385599e-02,
       -5.70964575e-01,  1.36909828e-01, -3.12068164e-01, -3.12171429e-01,
        3.98154765e-01, -3.10511976e-01, -1.58322439e-01,  1.25250921e-01,
        6.43479079e-02,  1.75396591e-01, -7.14221001e-01,  9.15040821e-02,
        1.51770934e-03, -8.56487602e-02,  1.14192329e-01, -7.97225595e-01,
       -2.86950141e-01, -7.77026042e-02,  5.67526519e-01, -3.76256853e-01,
       -2.21210327e-02, -5.28375924e-01, -1.42805293e-01,  2.32416555e-01,
       -6.24255873e-02,  3.69054228e-01,  7.75724649e-03,  3.07019532e-01,
        2.01534718e-01,  2.70179898e-01, -2.52041310e-01,  1.38123021e-01,
        1.33183584e-01,  2.69731939e-01, -2.36237317e-01,  5.12241900e-01,
        1.63742304e-01, -4.51514691e-01, -4.80469495e-01, -1.76414207e-01,
        1.06030546e-01, -2.47816667e-01, -3.54743540e-01, -4.97427195e-01,
       -5.52467108e-01, -4.04906452e-01,  3.34701747e-01, -6.68726265e-01,
        2.95652866e-01, -1.14447378e-01, -7.07626760e-01,  1.17348567e-01,
        3.10493469e-01,  9.97517928e-02, -4.44583036e-02,  1.84554696e-01,
       -1.67065188e-01, -8.53844211e-02,  2.86250442e-01,  2.80938838e-02,
       -5.16770422e-01, -1.33479774e-01, -7.41268158e-01,  4.96701151e-01,
        2.78296731e-02,  2.53666211e-02,  9.36607271e-02, -2.13051047e-02,
       -3.42152745e-01,  2.48221129e-01, -5.31526446e-01,  1.35145724e-01,
        5.67261994e-01, -4.42203999e-01, -3.15446287e-01,  4.11399841e-01,
       -4.80141550e-01,  2.84100056e-01, -1.17099427e-01, -7.51467049e-01,
        1.87267423e-01,  8.18355381e-01, -5.88029884e-02,  4.92586702e-01,
        2.51354039e-01, -3.27877104e-01, -7.12818563e-01, -3.18869561e-01,
       -2.72276282e-01, -3.16158205e-01,  3.39450896e-01,  7.23930774e-03,
       -2.78048962e-01,  8.23951438e-02, -2.82675833e-01, -1.40969396e-01,
       -3.40593576e-01,  4.63847131e-01, -2.84912318e-01, -1.91876158e-01,
       -1.81911096e-01, -3.05706888e-01,  1.59852132e-01,  2.07887050e-02,
        1.79230675e-01,  1.85583949e-01, -1.36127844e-01, -1.98569819e-01,
       -4.10446852e-01,  5.21601699e-02, -4.67077702e-01, -7.39589632e-01,
       -1.92298099e-01,  4.56156999e-01,  1.62448198e-01, -2.70105362e-01,
        1.24915838e-01, -5.48017800e-01, -4.90932792e-01,  1.07357965e-03,
       -2.82926261e-02,  3.34766179e-01, -4.16676462e-01, -4.25451696e-02,
       -4.21153754e-01, -8.07126164e-01,  4.46088642e-01, -6.53752506e-01,
       -2.58432865e-01, -2.29784280e-01,  2.04514191e-01,  3.02758068e-01,
       -2.43798167e-01, -4.52499688e-01,  1.49993151e-01, -6.60010427e-02,
        2.08457738e-01, -3.94886971e-01, -6.53344154e-01,  1.90874234e-01,
       -2.95849264e-01,  2.08394155e-01,  2.43027344e-01,  5.60601771e-01,
       -3.71462367e-02, -5.03163457e-01, -4.13672179e-01, -3.26713085e-01,
        1.43330961e-01, -2.52062291e-01,  4.29777414e-01, -1.72336951e-01,
        2.74426550e-01,  6.78273618e-01,  2.35915139e-01,  2.14223668e-01,
       -3.08011740e-01, -1.08178090e-02,  3.40951011e-02,  3.11235666e-01,
       -6.40795887e-01, -6.04831100e-01, -3.22058052e-01, -5.25570571e-01,
        6.40872002e-01, -7.23484516e-01,  6.32323399e-02, -1.02321818e-01,
       -3.88995484e-02,  6.43411636e-01, -5.70266366e-01,  3.42846304e-01,
        4.22737747e-01,  3.24825138e-01, -1.90312520e-01, -1.03919029e-01,
       -2.46481314e-01,  3.06197375e-01,  1.76201627e-01,  4.11064953e-01,
       -3.54177535e-01,  7.01578438e-01,  7.33021438e-01, -1.06571861e-01,
        1.34956211e-01, -1.00441851e-01,  5.48385456e-02,  3.96593630e-01,
       -1.54849738e-01, -2.64416993e-01,  1.63035080e-01, -2.36591563e-01,
       -1.04848705e-01,  1.18107609e-01, -3.78871024e-01,  1.26541972e-01,
       -2.23092049e-01,  1.30560488e-01, -1.85976252e-01, -3.08129609e-01,
       -3.98927361e-01,  8.65923092e-02, -1.58080265e-01,  2.34754771e-01,
        2.82370299e-01,  1.06922589e-01, -2.82798968e-02,  2.18190193e-01,
        1.52930082e-03,  1.91523194e-01, -3.55801210e-02, -5.58976293e-01,
        1.37832731e-01,  1.90928906e-01, -5.77003300e-01,  2.62068540e-01,
        3.85575294e-02, -3.99542063e-01, -1.56524673e-01, -4.33864355e-01,
       -3.87716085e-01,  9.38540846e-02, -4.41351861e-01, -3.10361594e-01,
       -1.14824772e-02,  4.24363464e-01,  4.20460373e-01,  3.24267805e-01,
       -1.51691675e-01, -3.12853187e-01,  3.93402837e-02,  4.66626704e-01,
        1.81981605e-02,  9.46876630e-02,  2.41377547e-01, -4.77634231e-03,
       -2.32772022e-01, -4.10450459e-01,  1.30019829e-01,  9.15433317e-02],
      dtype=float32)

In [9]:
df['embedding'] = pd.Series([[]] * len(df))     #  더미데이터
df.shape

(500, 4)

In [10]:
df.embedding = df.질문.map(lambda x: list(model.encode(x)))
df.head(3)

,구분,질문,답변,embedding
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030..."
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,"[-0.33227652, 0.22833036, 0.40661997, -0.13798..."
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,"[-0.40607545, -0.52038914, 0.41224262, 0.26219..."

In [11]:
df.to_csv('data/서울전월세_dataset.csv', index=False)

- 챗봇

In [12]:
import json
wdf = pd.read_csv('data/서울전월세_dataset.csv')
wdf.embedding = wdf.embedding.apply(json.loads)
wdf.head(3)

,구분,질문,답변,embedding
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030..."
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,"[-0.33227652, 0.22833036, 0.40661997, -0.13798..."
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,"[-0.40607545, -0.52038914, 0.41224262, 0.26219..."

In [13]:
text = '서울 월세 싼곳 추천해주세요'
embedding = model.encode(text)

In [14]:
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
wdf.head(3)

,구분,질문,답변,embedding,유사도
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839
1,전월세가,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,구로구 천왕동에 있는 2017년에 지어진 천왕이펜하우스7단지 아파트은/는 7층 29...,"[-0.33227652, 0.22833036, 0.40661997, -0.13798...",0.431568
2,전월세가,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,서대문구 홍은동에 있는 1992년에 지어진 (8-694) 연립다세대은/는 1층 32...,"[-0.40607545, -0.52038914, 0.41224262, 0.26219...",0.466377

In [15]:
wdf.유사도.idxmax()

126

In [16]:
wdf.iloc[wdf.유사도.nlargest(5)]

,구분,질문,답변,embedding,유사도
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839
0,전월세가,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,강동구 강일동에 있는 2009년에 지어진 강일리버파크3단지 아파트은/는 12층 39...,"[-1.0756174, -0.13619313, -0.04670561, -0.2030...",0.296839

In [17]:
wdf.답변[wdf.유사도.idxmax()]

'관악구 봉천동에 있는 2003년에 지어진 관악드림타운(임대) 아파트은/는 10층 32.76m²(임대면적) 기준으로 보증금 3949만원 임대료는 0만원에 전세로 거래되었습니다.'

In [6]:
text = ''
embedding = model.encode(text)
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
answer = wdf.답변[wdf.유사도.idxmax()]
answer

NameError: name 'model' is not defined