In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# 
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

- 챗봇

In [3]:
import json
wdf = pd.read_csv('data/서울전월세_임베딩.csv')
wdf.embedding = wdf.embedding.apply(json.loads)
wdf.head(3)

,구분,질문,답변,embedding
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239..."
1,전월세가,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,"[-0.8266182, 0.2506916, -0.046704587, -0.04070..."
2,전월세가,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,"[-0.24127756, 0.006681199, 0.45816517, -0.0570..."

In [4]:
text = '서울 월세 싼곳 추천해주세요'
embedding = model.encode(text)

In [5]:
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
wdf.head(3)

,구분,질문,답변,embedding,유사도
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118
1,전월세가,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,송파구 장지동에 있는 2007년에 지어진 송파파인타운10단지 아파트은/는 2.0층 ...,"[-0.8266182, 0.2506916, -0.046704587, -0.04070...",0.358620
2,전월세가,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,은평구 역촌동에 있는 2020년에 지어진 헤르미온 연립다세대은/는 13.0층 16....,"[-0.24127756, 0.006681199, 0.45816517, -0.0570...",0.465966

In [6]:
wdf.유사도.idxmax()

313

In [7]:
wdf.iloc[wdf.유사도.nlargest(5)]

,구분,질문,답변,embedding,유사도
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118
0,전월세가,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,용산구 도원동에 있는 2001년에 지어진 도원동삼성래미안(임대) 아파트은/는 16....,"[-0.7889131, -0.47861174, 0.5020292, 0.3055239...",0.373118

In [8]:
answer = 5
sr = [wdf['답변'][i] for i in wdf['유사도'].argsort()[:-answer-1:-1]]

In [9]:
for i, response in enumerate(sr, 1):
    print(f"{i}: {response}")

1: 동작구 상도1동에 있는 2012년에 지어진 J+CRESIDENCE 연립다세대은/는 4.0층 13.26m²(임대면적) 기준으로 보증금 3000만원 임대료는 42만원에 월세로 거래되었습니다.
2: 관악구 봉천동에 있는 2017년에 지어진 햇빛(180-360) 연립다세대은/는 3.0층 15.0m²(임대면적) 기준으로 보증금 2000만원 임대료는 22만원에 월세로 거래되었습니다.
3: 성북구 길음동에 있는 2005년에 지어진 길음뉴타운4단지(e편한세상) 아파트은/는 19.0층 59.86m²(임대면적) 기준으로 보증금 15000만원 임대료는 80만원에 월세로 거래되었습니다.
4: 성북구 돈암동에 있는 1998년에 지어진 한진(609-1) 아파트은/는 16.0층 113.67m²(임대면적) 기준으로 보증금 5250만원 임대료는 190만원에 월세로 거래되었습니다.
5: 구로구 고척동에 있는 2016년에 지어진 엘림하우스 연립다세대은/는 4.0층 56.14m²(임대면적) 기준으로 보증금 4358만원 임대료는 10만원에 월세로 거래되었습니다.

In [10]:
wdf.답변[wdf.유사도.idxmax()]

'동작구 상도1동에 있는 2012년에 지어진 J+CRESIDENCE 연립다세대은/는 4.0층 13.26m²(임대면적) 기준으로 보증금 3000만원 임대료는 42만원에 월세로 거래되었습니다.'

In [17]:
text = '서초구 양재동'
embedding = model.encode(text)
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
answer = 5
sr = [wdf['답변'][i] for i in wdf['유사도'].argsort()[:-answer-1:-1]]
for i, response in enumerate(sr, 1): print(f"{i}: {response}")

1: 서초구 양재동에 있는 2015년에 지어진 良才舍廊 연립다세대은/는 2.0층 28.28m²(임대면적) 기준으로 보증금 17000만원 임대료는 8만원에 월세로 거래되었습니다.
2: 서초구 양재동에 있는 2021년에 지어진 서원빌가동 연립다세대은/는 3.0층 38.96m²(임대면적) 기준으로 보증금 100만원 임대료는 85만원에 월세로 거래되었습니다.
3: 서초구 양재동에 있는 2017년에 지어진 공간5차 연립다세대은/는 3.0층 29.11m²(임대면적) 기준으로 보증금 27000만원 전세로 거래되었습니다.
4: 서초구 우면동에 있는 2013년에 지어진 서초네이처힐6단지 아파트은/는 4.0층 59.99m²(임대면적) 기준으로 보증금 9600만원 임대료는 15만원에 월세로 거래되었습니다.
5: 서초구 서초동에 있는 1988년에 지어진 삼풍아파트 아파트은/는 8.0층 79.47m²(임대면적) 기준으로 보증금 45000만원 임대료는 130만원에 월세로 거래되었습니다.