In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/서울전월세_전처리.csv')
df

,SGG_NM,BJDONG_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM
0,송파구,가락동,14.0,20231023,전세,84.42,60750,0,가락쌍용(2차),1999,아파트
1,송파구,문정동,5.0,20231023,전세,170.70,90000,0,문정래미안,2004,아파트
2,노원구,상계동,9.0,20231023,전세,41.30,17000,0,상계주공12(고층),1988,아파트
3,서초구,방배동,1.0,20231023,월세,49.61,54000,30,(878-17),2018,연립다세대
4,금천구,시흥동,2.0,20231023,월세,51.00,8250,14,SEORAEHOUSE(서래하우스),2021,연립다세대
...,...,...,...,...,...,...,...,...,...,...,...
8067,노원구,상계동,1.0,20231011,월세,32.39,1000,60,상계주공3(고층),1987,아파트
8068,은평구,구산동,7.0,20231011,전세,84.89,47000,0,브라운스톤구산,2006,아파트
8069,도봉구,창동,2.0,20231011,전세,28.78,20800,0,북한산 파크,2018,오피스텔
8070,서초구,서초동,13.0,20231011,전세,79.47,80000,0,삼풍아파트,1988,아파트
8071,은평구,진관동,6.0,20231011,월세,39.83,5030,9,상림마을8단지롯데캐슬(810~820동)BL1-1,2008,아파트

In [3]:
# SGG_NM컬럼을 셀렉해서 중복을 제외한 값
all_dong = df[['BJDONG_NM']]
print(all_dong.shape, all_dong.BJDONG_NM.nunique())

(8072, 1) 302

In [4]:
# SGG_NM컬럼 중복제거
all_dong.drop_duplicates(subset=['BJDONG_NM'], inplace=True)
all_dong.shape

C:\Users\human\AppData\Local\Temp\ipykernel_7092\645947679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_dong.drop_duplicates(subset=['BJDONG_NM'], inplace=True)

(302, 1)

In [5]:
# 뒤죽박죽 되어있는 인덱스 리셋
all_dong = all_dong.reset_index()
list_dong = all_dong['BJDONG_NM']

In [6]:
# 리스트동의 인덱스
list_dong.index

RangeIndex(start=0, stop=302, step=1)

In [7]:
# 출력테스트
list_dong[2]

'상계동'

In [8]:
text = []

In [9]:
#모든동의 보증금이 가장비싼 전세 반복
last = []
question = []
answer = []
end = []
for i in list_dong.index:
    max = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '전세'] # 전세or월세
    try:
        max = input['RENT_GTN'].idxmax()    # RENT
        max = input.loc[max]
        last.append(max)
    except:
        answer.append(list_dong[i] + '의 (전세)거래내역이 없습니다')
        question.append(list_dong[i] + ' 전세' + ' 보증금' + ' 가장비싼' + ' 높은' + ' 고액')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm

for i in dcm.index:
    question.append(dcm.BJDONG_NM[i] + ' 전세' + ' 보증금' + ' 가장비싼' + ' 높은' + ' 고액')

for i in dcm.index:
    answer.append(dcm.BJDONG_NM[i] + '에서 보증금이 가장비싸게 거래된 ' + dcm.RENT_GBN[i] + '는 m²(임대면적) 기준으로 보증금 ' + str(dcm['RENT_GTN'][i]) + '만원에 거래된 ' + dcm.BLDG_NM[i] + ' ' + dcm.HOUSE_GBN_NM[i] + '입니다.')
    
for i in dcm.index:
    end.append({'구분':None,'질문':question[i], '답변':answer[i]})

In [10]:
#모든동의 보증금이 가장비싼 월세 반복
last = []
question = []
answer = []
for i in list_dong.index:
    max = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '월세'] # 전세or월세
    try:
        max = input['RENT_GTN'].idxmax()    # RENT_GTN = 보증금, RENT_FEE = 임대료
        max = input.loc[max]
        last.append(max)
    except:
        answer.append(list_dong[i] + '의 (월세)거래내역이 없습니다')
        question.append(list_dong[i] + ' 월세' + ' 보증금' + ' 가장비싼' + ' 높은' + ' 고액')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm
for i in dcm.index:
    question.append(dcm.BJDONG_NM[i] + ' 월세' + ' 보증금' + ' 가장비싼' + ' 높은' + ' 고액')

for i in dcm.index:
    answer.append(dcm.BJDONG_NM[i] + '에서 보증금이 가장비싸게 거래된 ' + dcm.RENT_GBN[i] + '는 m²(임대면적) 기준으로 보증금 ' + str(dcm['RENT_GTN'][i]) + '만원 임대료는 ' + str(dcm['RENT_FEE'][i]) + '만원에 거래된 ' + dcm.BLDG_NM[i] + ' ' + dcm.HOUSE_GBN_NM[i] + '입니다.')

for i in dcm.index:
    end.append({'구분':None,'질문':question[i], '답변':answer[i]})

In [11]:
#모든동의 임대료가 가장싼 월세 반복
last = []
answer = []
question = []
for i in list_dong.index:
    max = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '월세'] # 전세or월세
    try:
        max = input['RENT_FEE'].idxmax()    # RENT_GTN = 보증금, RENT_FEE = 임대료
        max = input.loc[max]
        last.append(max)
    except:
        answer.append(list_dong[i] + '의 (월세)거래내역이 없습니다')
        question.append(list_dong[i] + ' 월세' + ' 임대료' + ' 가장비싼' + ' 높은' + ' 고액')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm
for i in dcm.index:
    question.append(dcm.BJDONG_NM[i] + ' 월세' + ' 임대료' + ' 가장비싼' + ' 높은' + ' 고액')
    
for i in dcm.index:
    answer.append(dcm.BJDONG_NM[i] + '에서 임대료가 가장비싸게 거래된 ' + dcm.RENT_GBN[i] + '는 m²(임대면적) 기준으로 보증금 ' + str(dcm['RENT_GTN'][i]) + '만원 임대료는 ' + str(dcm['RENT_FEE'][i]) + '만원에 거래된 ' + dcm.BLDG_NM[i] + ' ' + dcm.HOUSE_GBN_NM[i] + '입니다.')

for i in dcm.index:
    end.append({'구분':None,'질문':question[i], '답변':answer[i]})

In [12]:
df1 = pd.DataFrame(end)
df1

,구분,질문,답변
0,None,성북동1가 전세 보증금 가장비싼 높은 고액,성북동1가의 (전세)거래내역이 없습니다
1,None,연남동 전세 보증금 가장비싼 높은 고액,연남동의 (전세)거래내역이 없습니다
2,None,평창동 전세 보증금 가장비싼 높은 고액,평창동의 (전세)거래내역이 없습니다
3,None,동소문동6가 전세 보증금 가장비싼 높은 고액,동소문동6가의 (전세)거래내역이 없습니다
4,None,냉천동 전세 보증금 가장비싼 높은 고액,냉천동의 (전세)거래내역이 없습니다
...,...,...,...
800,None,하월곡동 월세 임대료 가장비싼 높은 고액,하월곡동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 20...
801,None,충무로2가 월세 임대료 가장비싼 높은 고액,충무로2가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 1...
802,None,사근동 월세 임대료 가장비싼 높은 고액,사근동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 300...
803,None,연희동 월세 임대료 가장비싼 높은 고액,연희동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 500...
804,None,영등포동3가 월세 임대료 가장비싼 높은 고액,영등포동3가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 ...

In [13]:
df1.to_csv('data/가장비싼.csv', index=False)

In [14]:
df1 = pd.read_csv('data/가장비싼.csv')
df1.질문[0][:-10]

'성북동1가 전세 보증금 '

In [15]:
for i in df1.index:
    df1.구분[i] = df1.질문[i][:-10]
    df1.구분[i] = df1.구분[i].replace(' ', '/')
    df1.구분[i] = df1.구분[i][:-1]
df1

C:\Users\human\AppData\Local\Temp\ipykernel_7092\3948746775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.구분[i] = df1.질문[i][:-10]

,구분,질문,답변
0,성북동1가/전세/보증금,성북동1가 전세 보증금 가장비싼 높은 고액,성북동1가의 (전세)거래내역이 없습니다
1,연남동/전세/보증금,연남동 전세 보증금 가장비싼 높은 고액,연남동의 (전세)거래내역이 없습니다
2,평창동/전세/보증금,평창동 전세 보증금 가장비싼 높은 고액,평창동의 (전세)거래내역이 없습니다
3,동소문동6가/전세/보증금,동소문동6가 전세 보증금 가장비싼 높은 고액,동소문동6가의 (전세)거래내역이 없습니다
4,냉천동/전세/보증금,냉천동 전세 보증금 가장비싼 높은 고액,냉천동의 (전세)거래내역이 없습니다
...,...,...,...
800,하월곡동/월세/임대료,하월곡동 월세 임대료 가장비싼 높은 고액,하월곡동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 20...
801,충무로2가/월세/임대료,충무로2가 월세 임대료 가장비싼 높은 고액,충무로2가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 1...
802,사근동/월세/임대료,사근동 월세 임대료 가장비싼 높은 고액,사근동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 300...
803,연희동/월세/임대료,연희동 월세 임대료 가장비싼 높은 고액,연희동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 500...
804,영등포동3가/월세/임대료,영등포동3가 월세 임대료 가장비싼 높은 고액,영등포동3가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 ...

In [16]:
df1.to_csv('data/가장비싼.csv', index=False)
df1 = pd.read_csv('data/가장비싼.csv')
df1

,구분,질문,답변
0,성북동1가/전세/보증금,성북동1가 전세 보증금 가장비싼 높은 고액,성북동1가의 (전세)거래내역이 없습니다
1,연남동/전세/보증금,연남동 전세 보증금 가장비싼 높은 고액,연남동의 (전세)거래내역이 없습니다
2,평창동/전세/보증금,평창동 전세 보증금 가장비싼 높은 고액,평창동의 (전세)거래내역이 없습니다
3,동소문동6가/전세/보증금,동소문동6가 전세 보증금 가장비싼 높은 고액,동소문동6가의 (전세)거래내역이 없습니다
4,냉천동/전세/보증금,냉천동 전세 보증금 가장비싼 높은 고액,냉천동의 (전세)거래내역이 없습니다
...,...,...,...
800,하월곡동/월세/임대료,하월곡동 월세 임대료 가장비싼 높은 고액,하월곡동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 20...
801,충무로2가/월세/임대료,충무로2가 월세 임대료 가장비싼 높은 고액,충무로2가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 1...
802,사근동/월세/임대료,사근동 월세 임대료 가장비싼 높은 고액,사근동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 300...
803,연희동/월세/임대료,연희동 월세 임대료 가장비싼 높은 고액,연희동에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 500...
804,영등포동3가/월세/임대료,영등포동3가 월세 임대료 가장비싼 높은 고액,영등포동3가에서 임대료가 가장비싸게 거래된 월세는 m²(임대면적) 기준으로 보증금 ...