In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/서울전월세_전처리.csv')
df

,SGG_NM,BJDONG_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM
0,송파구,가락동,14.0,20231023,전세,84.42,60750,0,가락쌍용(2차),1999,아파트
1,송파구,문정동,5.0,20231023,전세,170.70,90000,0,문정래미안,2004,아파트
2,노원구,상계동,9.0,20231023,전세,41.30,17000,0,상계주공12(고층),1988,아파트
3,서초구,방배동,1.0,20231023,월세,49.61,54000,30,(878-17),2018,연립다세대
4,금천구,시흥동,2.0,20231023,월세,51.00,8250,14,SEORAEHOUSE(서래하우스),2021,연립다세대
...,...,...,...,...,...,...,...,...,...,...,...
8067,노원구,상계동,1.0,20231011,월세,32.39,1000,60,상계주공3(고층),1987,아파트
8068,은평구,구산동,7.0,20231011,전세,84.89,47000,0,브라운스톤구산,2006,아파트
8069,도봉구,창동,2.0,20231011,전세,28.78,20800,0,북한산 파크,2018,오피스텔
8070,서초구,서초동,13.0,20231011,전세,79.47,80000,0,삼풍아파트,1988,아파트
8071,은평구,진관동,6.0,20231011,월세,39.83,5030,9,상림마을8단지롯데캐슬(810~820동)BL1-1,2008,아파트

In [4]:
# SGG_NM컬럼을 셀렉해서 중복을 제외한 값
all_dong = df[['BJDONG_NM']]
print(all_dong.shape, all_dong.BJDONG_NM.nunique())

(8072, 1) 302

In [5]:
# SGG_NM컬럼 중복제거
all_dong.drop_duplicates(subset=['BJDONG_NM'], inplace=True)
all_dong.shape

C:\Users\human\AppData\Local\Temp\ipykernel_25848\645947679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_dong.drop_duplicates(subset=['BJDONG_NM'], inplace=True)

(302, 1)

In [6]:
# 뒤죽박죽 되어있는 인덱스 리셋
all_dong = all_dong.reset_index()
list_dong = all_dong['BJDONG_NM']

In [7]:
# 리스트동의 인덱스
list_dong.index

RangeIndex(start=0, stop=302, step=1)

In [8]:
# 출력테스트
list_dong[2]

'상계동'

In [9]:
text = []

In [15]:
#모든동의 보증금이 가장싼 전세 반복
last = []
else_data = []
for i in list_dong.index:
    min = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '전세'] # 전세or월세
    try:
        min = input['RENT_GTN'].idxmin()    # RENT
        min = input.loc[min]
        last.append(min)
    except:
        else_data.append(list_dong[i] + '의 (전세)거래내역이 없습니다')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm
question = []
answer = []
for i in dcm.index:
    question_data = dcm.BJDONG_NM[i] + '전세' + '보증금' + '가장싼'
    question.append(question_data)

for i in dcm.index:
    answer_data = dcm.BJDONG_NM[i] + '에서 보증금이 가장싸게 거래된 내역은 m²(임대면적) 기준으로 보증금 ' + str(dcm.RENT_GTN[i]) + '만원 ' + str(dcm.RENT_GBN[i]) + '로 거래되었습니다.'
    answer.append(answer_data)
question
len(answer)

275

In [9]:
len(else_data)      # 거래내역이없는동

['성북동1가의 (전세)거래내역이 없습니다',
 '연남동의 (전세)거래내역이 없습니다',
 '평창동의 (전세)거래내역이 없습니다',
 '동소문동6가의 (전세)거래내역이 없습니다',
 '냉천동의 (전세)거래내역이 없습니다',
 '광희동1가의 (전세)거래내역이 없습니다',
 '행촌동의 (전세)거래내역이 없습니다',
 '흥인동의 (전세)거래내역이 없습니다',
 '동교동의 (전세)거래내역이 없습니다',
 '누하동의 (전세)거래내역이 없습니다',
 '만리동1가의 (전세)거래내역이 없습니다',
 '부암동의 (전세)거래내역이 없습니다',
 '누상동의 (전세)거래내역이 없습니다',
 '한강로2가의 (전세)거래내역이 없습니다',
 '창천동의 (전세)거래내역이 없습니다',
 '충정로2가의 (전세)거래내역이 없습니다',
 '서빙고동의 (전세)거래내역이 없습니다',
 '보문동2가의 (전세)거래내역이 없습니다',
 '하중동의 (전세)거래내역이 없습니다',
 '보문동7가의 (전세)거래내역이 없습니다',
 '장충동1가의 (전세)거래내역이 없습니다',
 '필동1가의 (전세)거래내역이 없습니다',
 '합동의 (전세)거래내역이 없습니다',
 '구수동의 (전세)거래내역이 없습니다',
 '충무로3가의 (전세)거래내역이 없습니다',
 '삼선동4가의 (전세)거래내역이 없습니다',
 '충무로5가의 (전세)거래내역이 없습니다']

In [18]:
#모든동의 보증금이 가장싼 월세 반복
last = []
else_data = []
for i in list_dong.index:
    min = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '월세'] # 전세or월세
    try:
        min = input['RENT_GTN'].idxmin()    # RENT_GTN = 보증금, RENT_FEE = 임대료
        min = input.loc[min]
        last.append(min)
    except:
        else_data.append(list_dong[i] + '의 (월세)거래내역이 없습니다')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm
question = []
answer = []
for i in dcm.index:
    question_data = dcm.BJDONG_NM[i] + '월세' + '보증금' + '가장싼'
    question.append(question_data)

for i in dcm.index:
    answer_data = dcm.BJDONG_NM[i] + '에서 보증금이 가장싸게 거래된 내역은 m²(임대면적) 기준으로 보증금 ' + str(dcm.RENT_GTN[i]) + '만원 ' + str(dcm.RENT_GBN[i]) + '로 거래되었습니다.'
    answer.append(answer_data)
question
len(answer)

265

In [19]:
len(else_data)      # 거래내역이 없는동

37

In [21]:
#모든동의 보증금이 가장싼 월세 반복
last = []
else_data = []
for i in list_dong.index:
    min = []
    input = df[df.BJDONG_NM == list_dong[i]]
    input = input[input.RENT_GBN == '월세'] # 전세or월세
    try:
        min = input['RENT_FEE'].idxmin()    # RENT_GTN = 보증금, RENT_FEE = 임대료
        min = input.loc[min]
        last.append(min)
    except:
        else_data.append(list_dong[i] + '의 (월세)거래내역이 없습니다')
dcm = pd.DataFrame(last)
dcm = dcm.reset_index()
dcm.drop(columns=['index'], inplace=True)
dcm

question = []
answer = []
for i in dcm.index:
    question_data = dcm.BJDONG_NM[i] + '월세' + '임대료' + '가장싼'
    question.append(question_data)

for i in dcm.index:
    answer_data = dcm.BJDONG_NM[i] + '에서 임대료가 가장싸게 거래된 내역은 m²(임대면적) 기준으로 보증금 ' + str(dcm['RENT_GTN'][i]) + '만원 임대료는 ' + str(dcm['RENT_FEE'][i]) + '만원에 ' + str(dcm['RENT_GBN'][i]) + '로 거래되었습니다.'
    answer.append(answer_data)
question
len(answer)

265

In [22]:
len(else_data)

37