In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

In [3]:
df = pd.read_csv('data/서울 월세.csv')
df.head()

,구분,질문,답변
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,..."
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요
2,월세,NaN,"안녕하세요. 답변드려요.​네, 서울 청년월세지원은 신청자에게 결과를 카톡으로 연락해..."
3,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...
4,월세,서울월세지원 10번 받아서 끝났는데 또 신청해서 또 받을수 있나요,답변드립니다최대 10개월 지원받고 200만원까지 가능한데 생애 1회만 가능합니다그러...

In [4]:
df.isna()

        구분     질문     답변
0    False  False  False
1    False  False  False
2    False   True  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
345  False  False  False
346  False  False  False
347  False  False  False
348  False  False  False
349  False  False  False

[350 rows x 3 columns]

In [5]:
df = df.dropna()
df

,구분,질문,답변
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,..."
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요
3,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...
4,월세,서울월세지원 10번 받아서 끝났는데 또 신청해서 또 받을수 있나요,답변드립니다최대 10개월 지원받고 200만원까지 가능한데 생애 1회만 가능합니다그러...
5,월세,"서울시에서 하는 서울 월세지원에 선정되었는데4.5,6,7,8월 금액이 9월 말에 d...",괜찮습니다
...,...,...,...
345,월세,이번에 하는 서울청년월세지원 쉐어하우스도 해당되나요?,"안녕하세요지식인 대출분야(담보대출,전세자금대출,신용대출,개인회생) 상담전문 뱅크솔루..."
346,월세,서울에서 자취중입니다. 1.5억 전세 원룸에 살고있는데 전세가 그대로 목적물변경으...,어 음...월세가 너무 부담 되지 않을까요?여건이 되고 지금 집이 괜찮다면 그냥 그...
347,월세,당장 오늘 집보러 가는데 아는게 없네요... 보통 월세 보증금이 5천 이상 하더라구요,서울 월세 집을 얻을때 알아둬야 할게 있을까요당장 오늘 집보러 가는데 아는게 없네요...
348,월세,16일부터 신청가능한 서울 청년월세지원 관련해서 메일이 왔는데 자격 조건이 월세 6...,안녕하세요. 서울생활 행복도우미 120다산콜센터 지식파트너입니다. ◈ 2020년 ...
349,월세,"안녕하세요 월세지원금 선정되서 금일 입금이 되었습니다6,7,8월 이체증 등록해서 오...","안녕하세요 월세지원금 선정되서 금일 입금이 되었습니다, 6,7,8월 이체증 등록해서..."

In [6]:
df.shape

(257, 3)

- 정규화

In [7]:
# \u200b가 출력되는 문제 해결
df['답변'] = df['답변'].str.replace('\u200b', ' ')
df

,구분,질문,답변
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,..."
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요
3,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...
4,월세,서울월세지원 10번 받아서 끝났는데 또 신청해서 또 받을수 있나요,답변드립니다최대 10개월 지원받고 200만원까지 가능한데 생애 1회만 가능합니다그러...
5,월세,"서울시에서 하는 서울 월세지원에 선정되었는데4.5,6,7,8월 금액이 9월 말에 d...",괜찮습니다
...,...,...,...
345,월세,이번에 하는 서울청년월세지원 쉐어하우스도 해당되나요?,"안녕하세요지식인 대출분야(담보대출,전세자금대출,신용대출,개인회생) 상담전문 뱅크솔루..."
346,월세,서울에서 자취중입니다. 1.5억 전세 원룸에 살고있는데 전세가 그대로 목적물변경으...,어 음...월세가 너무 부담 되지 않을까요?여건이 되고 지금 집이 괜찮다면 그냥 그...
347,월세,당장 오늘 집보러 가는데 아는게 없네요... 보통 월세 보증금이 5천 이상 하더라구요,서울 월세 집을 얻을때 알아둬야 할게 있을까요당장 오늘 집보러 가는데 아는게 없네요...
348,월세,16일부터 신청가능한 서울 청년월세지원 관련해서 메일이 왔는데 자격 조건이 월세 6...,안녕하세요. 서울생활 행복도우미 120다산콜센터 지식파트너입니다. ◈ 2020년 ...
349,월세,"안녕하세요 월세지원금 선정되서 금일 입금이 되었습니다6,7,8월 이체증 등록해서 오...","안녕하세요 월세지원금 선정되서 금일 입금이 되었습니다, 6,7,8월 이체증 등록해서..."

- 인코딩 후 데이터 셋 저장

In [8]:
model.encode(df.질문[0])

array([-6.37543559e-01, -5.96005201e-01,  5.26120603e-01, -1.09748840e+00,
        4.27429974e-01, -2.28559271e-01,  6.99419618e-01,  2.25589946e-01,
       -1.23890951e-01, -3.75541389e-01,  1.38638645e-01,  1.44819319e-02,
       -3.26404095e-01, -5.07465526e-02, -3.83976176e-02,  2.84743682e-03,
        6.99049473e-01,  1.33706564e-02,  6.61491632e-01, -5.21394253e-01,
        2.81567246e-01, -2.24805057e-01, -4.38134998e-01,  3.93550038e-01,
        1.18402764e-01,  3.93500179e-01, -3.04593354e-01, -1.24491833e-01,
       -1.13956802e-01,  1.81591868e-01,  2.79118478e-01,  2.31944263e-01,
       -2.83285528e-01, -3.29954997e-02,  9.17070433e-02, -3.68109494e-02,
       -4.07587737e-02, -5.08818746e-01, -5.25256395e-01, -4.46302183e-02,
       -2.80666590e-01,  1.67830899e-01,  2.90538549e-01,  1.79496169e-01,
        4.33418125e-01, -6.05979860e-01,  3.61493289e-01,  5.11142790e-01,
       -5.39832175e-01, -1.58559874e-01, -1.77395508e-01, -3.49945724e-01,
       -1.48209751e-01,  1.69041410e-01,  8.50132704e-02,  2.25258276e-01,
       -6.49710670e-02, -1.19783409e-01, -4.76959115e-03, -6.75581515e-01,
       -1.92483179e-02, -5.92146516e-01,  7.66883045e-03,  7.42825091e-01,
       -2.85998344e-01,  1.59923702e-01,  1.86641544e-01,  8.90823841e-01,
       -4.05319095e-01,  9.38197151e-02, -3.17108408e-02, -1.32977694e-01,
        6.18640602e-01, -2.59519577e-01,  3.90140444e-01, -1.40781358e-01,
       -3.02286208e-01, -1.84200495e-01,  4.21600610e-01, -1.41544908e-01,
       -2.53424853e-01,  2.80766547e-01, -1.44344240e-01, -6.96359336e-01,
       -1.54339701e-01, -2.80052692e-01, -9.69410390e-02,  2.41262898e-01,
        4.59613144e-01, -1.52686447e-01, -5.77341557e-01, -1.05859246e-02,
        2.69551694e-01,  2.20178410e-01, -1.52164102e-01, -1.76313549e-01,
        2.55079448e-01,  1.59346275e-02,  2.33445019e-01, -1.67650729e-01,
        3.63501638e-01,  3.44365761e-02, -6.11410499e-01,  5.38344800e-01,
        1.38141021e-01, -4.60596442e-01,  3.52930456e-01,  2.47696698e-01,
        2.79368818e-01, -1.96289346e-01, -2.61170775e-01, -2.43042320e-01,
        2.60818362e-01, -5.42055741e-02, -6.16088882e-02,  1.04592539e-01,
        2.10429057e-01, -4.72726077e-02,  6.02496147e-01, -2.63802677e-01,
        4.96212453e-01,  2.03750223e-01, -7.00313628e-01, -2.09323972e-01,
       -2.64538117e-02,  1.69991657e-01, -1.14173003e-01, -1.27750605e-01,
        6.92088366e-01, -4.92878258e-01, -2.66103577e-02,  3.30599189e-01,
       -5.19325025e-02, -1.31643072e-01, -2.00778723e-01, -2.42990136e-01,
       -4.27945554e-02, -1.11887708e-01,  4.46772754e-01,  4.83614728e-02,
        4.47730012e-02, -3.71591955e-01, -3.65912095e-02, -2.43665501e-01,
       -1.22888476e-01,  1.89151794e-01,  4.16983590e-02, -6.54345453e-02,
       -4.61175293e-02, -3.63907516e-01, -1.12220258e-01,  3.87360722e-01,
        1.18427232e-01,  2.62053072e-01,  2.74680048e-01, -4.69498903e-01,
       -2.60969549e-01, -2.63214499e-01,  4.57830876e-01, -4.36887622e-01,
       -4.72133249e-01, -1.28988892e-01,  1.88874722e-01,  6.45122826e-01,
       -2.63728619e-01,  2.85585523e-01, -3.73160034e-01,  3.79337221e-02,
        2.57999778e-01, -2.75616169e-01,  1.11027077e-01, -3.14580858e-01,
       -3.26626837e-01, -1.85782522e-01,  6.49529338e-01, -2.23127931e-01,
        1.66444927e-01,  3.35144112e-03, -2.40723729e-01, -1.10881925e-01,
       -4.12462741e-01,  5.92618167e-01, -3.09839934e-01, -1.77064016e-01,
       -2.01834738e-03,  2.76669681e-01, -4.28030677e-02, -3.15130889e-01,
       -3.90998781e-01,  5.54035187e-01,  1.80311531e-01, -2.49236137e-01,
       -5.05927801e-01, -3.82018298e-01,  1.15879558e-01, -4.24814671e-01,
       -1.03508934e-01, -3.70702207e-01,  1.41767830e-01,  6.74443096e-02,
        3.74091148e-01,  1.61292434e-01, -4.65937480e-02, -2.40986109e-01,
        4.09573853e-01, -5.54229498e-01, -2.59547800e-01, -7.44578242e-01,
        3.53762805e-02,  6.80446476e-02, -8.16506386e-01,  2.41157919e-01,
        3.86686146e-01,  3.99707139e-01, -1.64561272e-01, -3.61401588e-01,
        6.50185645e-02,  1.07887551e-01,  7.39353836e-01,  1.61251292e-01,
       -3.27352136e-02, -4.57106382e-01, -7.95955807e-02, -7.27729797e-02,
        1.83280453e-01, -1.78783327e-01,  8.78656805e-02, -7.91394293e-01,
        2.10868120e-01, -5.04239053e-02, -6.42147422e-01,  3.78033161e-01,
        2.18200609e-01, -2.01064929e-01,  2.33277291e-01, -1.36992067e-01,
       -1.93218827e-01,  2.18582917e-02,  8.47332180e-03, -2.69273669e-01,
        1.87672123e-01, -3.46800610e-02,  9.33709145e-02, -2.03872919e-01,
       -5.99220097e-02,  4.61457402e-01, -1.58232555e-01, -5.62865138e-01,
        1.30883396e-01, -3.09070259e-01, -1.19812518e-01,  5.93775868e-01,
       -1.51947767e-01, -2.83245265e-01,  8.91805217e-02, -2.95214981e-01,
        6.49258733e-01,  3.88340861e-01, -7.40585029e-02, -6.92830741e-01,
        1.34632990e-01, -2.42016599e-01, -2.71446675e-01,  1.43187508e-01,
       -5.80510497e-03,  2.65186410e-02, -1.69886991e-01, -9.02449250e-01,
       -1.31864637e-01,  1.92507043e-01, -5.32161593e-01, -5.60175478e-01,
        6.01002872e-01, -2.09856793e-01,  4.06604081e-01,  5.22370115e-02,
       -6.51419312e-02,  2.48784438e-01,  1.13264754e-01, -1.23653032e-01,
        3.93573165e-01, -1.73900068e-01, -1.63362980e-01,  1.77603200e-01,
       -2.89255321e-01,  2.32193917e-01,  1.09665781e-01, -6.44649029e-01,
       -3.23422998e-01, -4.74077165e-01,  3.16028982e-01,  6.54621363e-01,
        1.04382977e-01, -1.76124632e+00,  2.30264086e-02,  3.75025660e-01,
       -2.57844806e-01, -2.22761899e-01, -1.63252383e-01, -2.21523151e-01,
       -1.47339374e-01, -5.68479598e-02,  2.22638026e-01,  2.52810091e-01,
       -4.63122249e-01,  3.14035773e-01, -1.63153619e-01,  1.77426457e-01,
       -6.33974016e-01,  3.85627002e-02, -1.63509309e-01, -3.64305407e-01,
       -3.23466808e-02, -3.67125332e-01,  6.50582671e-01, -1.87823400e-01,
       -3.39920253e-01, -3.66887450e-01, -3.69649798e-01, -5.42983651e-01,
        4.88383859e-01, -7.18186423e-02, -1.45125762e-01, -5.18038213e-01,
        5.06799579e-01,  3.96209419e-01, -2.75927603e-01, -3.17792952e-01,
        6.82617426e-02,  7.66078383e-03, -5.86392462e-01, -6.00446761e-01,
        4.94204760e-01,  7.97998607e-02,  1.83712065e-01, -2.41254091e-01,
       -4.07718003e-01, -2.95366552e-02, -2.10964680e-01, -4.93839979e-01,
        5.72305739e-01, -2.05309615e-01,  1.11725777e-01, -4.67379726e-02,
       -5.70626669e-02,  9.22231525e-02,  1.73942313e-01, -4.87864166e-01,
        2.33189195e-01, -2.27466628e-01,  2.94739246e-01,  5.10646105e-01,
       -9.99986380e-02,  2.80036300e-01,  4.89554942e-01, -2.11032718e-01,
        1.41475677e-01,  2.66307741e-01, -8.69126260e-01,  1.60803065e-01,
        2.47620746e-01,  1.50638774e-01,  1.72550410e-01, -7.67566785e-02,
       -1.66622788e-01, -4.44291309e-02,  1.78203359e-01,  2.53550559e-01,
        5.12052596e-01,  4.62523669e-01, -3.42711329e-01, -2.54148632e-01,
        7.70585239e-02, -3.47086668e-01,  4.50797938e-02,  8.46369490e-02,
       -2.29146391e-01, -1.67003363e-01,  1.17870182e-01, -8.45270097e-01,
        1.70952842e-01,  2.62564003e-01,  4.38771136e-02,  1.46595016e-01,
        1.22555107e-01, -7.62437820e-01, -6.83071434e-01,  2.30962023e-01,
       -5.26604764e-02,  5.39124846e-01, -2.41458789e-01, -2.20925212e-01,
       -1.05699055e-01,  4.74209487e-02, -3.62269908e-01,  1.40238523e-01,
       -1.90395385e-01,  8.24807957e-02, -6.46792889e-01, -4.97957140e-01,
       -3.61612141e-01,  6.94767058e-01,  1.82126015e-01,  2.25699633e-01,
        3.39842886e-01,  1.32542849e-01, -1.62338927e-01,  2.30535597e-01,
        1.33388564e-01, -4.22235392e-02,  4.09871131e-01, -3.09135258e-01,
        6.13458633e-01, -2.44830325e-01,  3.12918067e-01,  4.02300119e-01,
       -1.56043082e-01, -1.32505864e-01,  3.27086478e-01, -4.59726840e-01,
        2.88511813e-01,  5.77964447e-03,  3.04630846e-01, -1.28366813e-01,
        3.69926423e-01, -1.13535441e-01,  2.08183721e-01, -1.89583629e-01,
        4.74777043e-01,  2.60134965e-01,  1.65693626e-01, -2.18228951e-01,
        1.89919025e-01,  2.03630418e-01, -7.00450420e-01,  4.93560433e-02,
       -1.19010927e-02,  1.26668543e-01, -7.18752854e-04, -1.53138749e-02,
       -2.12140620e-01, -2.08866354e-02,  1.48331746e-03,  1.35570794e-01,
        2.54593566e-02,  2.46223703e-01, -2.87198663e-01,  5.50152957e-01,
       -2.85822481e-01,  4.31993335e-01, -6.83168694e-02, -9.91779715e-02,
        3.57402116e-01,  1.78485006e-01, -4.60077226e-01,  4.70844507e-01,
        8.91113207e-02,  2.48354107e-01,  5.14831841e-01, -4.57912296e-01,
       -2.85020266e-02,  1.50953859e-01, -1.06797211e-01, -5.15733480e-01,
        1.93778381e-01,  1.48095697e-01,  1.03698865e-01,  6.60379052e-01,
        5.95319331e-01, -2.32361332e-01, -9.53725874e-01, -1.29840121e-01,
        8.47265840e-01,  2.94541985e-01, -3.59166324e-01, -4.30544853e-01,
       -1.61639810e-01,  1.70528740e-01, -5.62978268e-01,  5.80938309e-02,
       -1.01153028e+00,  1.70732260e-01,  3.15132350e-01,  8.34348649e-02,
        2.67427534e-01,  4.34342772e-01, -1.04197994e-01,  1.63284451e-01,
        1.85952067e-01,  2.33077750e-01, -4.00554597e-01, -1.48604646e-01,
       -6.10704780e-01, -1.18112341e-01, -5.38912192e-02, -8.37273717e-01,
        1.12071410e-01,  3.41645241e-01, -4.53154087e-01, -7.62825131e-01,
       -5.09487867e-01, -2.62574106e-01,  3.66172403e-01, -3.29129905e-01,
        1.48300231e-01, -2.20696218e-02, -6.98942915e-02,  7.45707676e-02,
        2.63572395e-01, -2.41795346e-01, -8.63994956e-02,  3.30514848e-01,
        5.55925332e-02, -5.45355566e-02,  6.54476225e-01,  6.24424875e-01,
       -5.27788028e-02, -2.83412308e-01,  4.31151390e-01, -1.89539164e-01,
       -5.87309659e-01,  1.68576002e-01,  1.16573378e-01, -3.24173570e-01,
        9.98355076e-02,  3.45372446e-02,  9.87450480e-02, -5.92011452e-01,
       -5.47003925e-01, -5.14383972e-01, -1.52138561e-01,  1.79420009e-01,
        1.93165094e-02,  4.57790524e-01, -1.97406501e-01,  3.52246344e-01,
        2.12082908e-01,  3.71965140e-01, -9.53323916e-02,  5.59139132e-01,
        4.13395107e-01, -2.51259744e-01, -1.87226936e-01,  3.35165039e-02,
       -3.02969366e-01, -1.99977458e-01,  3.67570698e-01,  1.22429505e-01,
        5.31538166e-02,  1.99061688e-02, -2.47228801e-01, -4.48504776e-01,
       -3.06065321e-01, -4.05108044e-03, -4.05616105e-01, -5.69996476e-01,
       -4.28565824e-03, -3.74014199e-01, -5.01569629e-01,  3.01994592e-01,
       -2.26491481e-01, -2.98734996e-02, -1.09546363e-01,  4.96709347e-01,
       -4.68491279e-02,  2.46163487e-01, -6.40745521e-01, -5.81735894e-02,
       -1.24336869e-01, -8.51091146e-02,  1.96086660e-01, -6.06114507e-01,
        8.78958553e-02, -1.29089653e-01,  2.21866518e-01, -4.96824235e-02,
       -6.61517400e-03,  1.55778497e-01, -4.74359453e-01, -7.50344396e-02,
        6.86476007e-02, -2.72536606e-01, -3.74580741e-01, -2.04046279e-01,
        1.53710851e-02,  3.36702019e-01, -2.00613439e-01, -5.47411382e-01,
       -2.13264763e-01, -3.48151445e-01,  1.61674917e-01, -1.37089133e-01,
       -2.45689079e-01,  3.26549828e-01, -8.43643546e-01, -1.06279023e-01,
       -6.00967109e-01, -1.55458584e-01, -7.14098588e-02, -1.73488915e-01,
        6.49661303e-01, -3.24314475e-01, -4.43743646e-01, -7.12934509e-02,
       -9.02671069e-02, -1.25649288e-01,  2.01930508e-01,  9.61579755e-03,
        1.73706576e-01,  7.00390577e-01, -1.19581416e-01, -4.66521919e-01,
       -6.73830211e-01, -9.92163718e-02, -4.76005703e-01, -2.41281703e-01,
       -1.53736040e-01,  3.55037227e-02,  1.20254166e-01,  4.07384336e-01,
       -1.77218899e-01,  2.87603080e-01, -5.75470686e-01, -4.16740179e-01,
       -1.77169032e-02, -2.98597664e-03,  1.98960826e-01, -6.76522031e-02,
       -3.44577163e-01, -1.37726605e-01,  3.94864917e-01,  1.80765893e-02,
        3.42011571e-01, -7.22262263e-01, -4.11588222e-01,  3.41826349e-01,
       -6.11646324e-02,  3.20050955e-01,  4.86686975e-02, -5.91586411e-01,
        1.90877184e-01,  9.48607922e-02,  2.00023085e-01, -4.23319042e-01,
        4.14894342e-01, -3.17127913e-01, -1.03419155e-01, -1.74248368e-01,
       -6.27101958e-01,  1.98452666e-01, -2.77265310e-01, -6.56962767e-02,
        5.42593636e-02, -2.45596170e-01, -2.73751765e-01, -3.56347233e-01,
        2.04682350e-01,  9.00656506e-02,  6.53759539e-01, -1.93239450e-02,
       -1.99303612e-01, -3.00420821e-01, -3.13546807e-02, -2.56348848e-01,
        1.77929848e-01, -3.93121317e-03, -5.02092004e-01,  1.39162600e-01,
        6.19428992e-01,  4.16856557e-02, -1.65334269e-01,  8.41067210e-02,
       -3.54067475e-01, -2.09572464e-01, -2.72600055e-01, -8.21782723e-02,
        5.58713675e-01,  1.91900849e-01, -3.86977755e-03, -2.94321448e-01,
       -1.25551373e-01, -1.12725664e-02,  6.93599820e-01,  3.63490075e-01,
       -4.02068913e-01,  2.39083678e-01, -2.30024919e-01,  1.59499586e-01,
        3.09903324e-02, -1.74319997e-01, -6.92401528e-02, -1.74921572e-01,
        1.87429339e-01, -4.67553318e-01,  2.88759768e-01,  4.43476140e-02,
        3.09377193e-01,  5.20062327e-01,  1.78825427e-02,  3.50702554e-02,
        2.76430011e-01, -2.15760797e-01,  9.09970850e-02,  9.80332792e-02,
       -3.59669775e-02, -3.51851434e-03, -1.47705257e-01, -6.46357477e-01,
       -5.52342296e-01, -2.59812236e-01,  6.36027277e-01,  8.73958692e-02,
       -8.35926011e-02, -1.41989350e-01, -1.93601117e-01, -1.45072803e-01,
        4.35514033e-01, -3.50667208e-01, -1.70565099e-01, -3.41919959e-01,
        2.11084238e-03,  3.69727224e-01, -5.97621918e-01,  1.14766350e-02,
        9.81439948e-02, -2.38118485e-01,  1.63516253e-01,  3.51396114e-01,
       -2.85515130e-01, -8.61335471e-02, -1.41412616e-01, -3.07378948e-01,
        7.30986655e-01, -5.23549579e-02, -1.33794934e-01,  3.83790493e-01,
        1.05698638e-01,  4.23156798e-01, -8.06424767e-02, -3.22185874e-01,
       -2.17181489e-01,  1.47048652e-01, -1.21274583e-01, -3.40626277e-02,
        2.19493747e-01, -9.32727531e-02,  1.88473403e-01,  2.10311770e-01,
       -8.05901140e-02,  5.67345321e-02,  9.07842219e-02,  2.83342004e-01,
        6.06905222e-02,  6.53893054e-02,  1.34112194e-01, -4.09849048e-01,
       -8.98293018e-01,  1.85758710e-01,  5.63353263e-02,  4.09503222e-01,
       -1.02531143e-01,  5.01724958e-01, -1.79501414e-01, -3.02881822e-02,
        1.22787684e-01, -1.87236872e-02,  7.07741305e-02, -1.56821370e-01],
      dtype=float32)

In [9]:
df['embedding'] = pd.Series([[]] * len(df))     #  더미데이터
df.shape

(257, 4)

In [10]:
df.embedding = df.질문.map(lambda x: list(model.encode(x)))
df.head(3)

,구분,질문,답변,embedding
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,...","[-0.63754356, -0.5960052, 0.5261206, -1.097488..."
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요,"[-0.580972, -0.23177795, 0.4248164, -0.6200277..."
3,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...,"[0.18744174, 0.18414854, 0.24230862, -0.493406..."

In [11]:
df.to_csv('data/서울월세_dataset.csv', index=False)

- 챗봇

In [12]:
import json
wdf = pd.read_csv('data/서울월세_dataset.csv')
wdf.embedding = wdf.embedding.apply(json.loads)
wdf.head(3)

,구분,질문,답변,embedding
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,...","[-0.63754356, -0.5960052, 0.5261206, -1.097488..."
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요,"[-0.580972, -0.23177795, 0.4248164, -0.6200277..."
2,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...,"[0.18744174, 0.18414854, 0.24230862, -0.493406..."

In [13]:
text = '서울 월세 싼곳 추천해주세요'
embedding = model.encode(text)

In [14]:
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
wdf.head(3)

,구분,질문,답변,embedding,유사도
0,월세,제 상황에 어떤 선택이 좋은지 모르겠어서 질문글 남깁니다.집 컨디션은 비슷한 것 같...,"월세가 차라리 더 좋아 보입니다.전체적으로 좀 싸게 들어가면 전세가 좋기는 하지만,...","[-0.63754356, -0.5960052, 0.5261206, -1.097488...",0.529952
1,월세,서울 주거 포털에서 청년월세지원을 신청했는데 아직도 심사중이라고 뜹니다 월세지원 못...,결과 발표 11월중 예정이라고 돼 있어요,"[-0.580972, -0.23177795, 0.4248164, -0.6200277...",0.551198
2,월세,인천 연수구 송도국제도로 123 오네스타 랑 최대한 가까운 곳으로 추천 부탁드립니다...,1.신림동.독산동.신월동.시흥동.가산동 등등 입니다그러나 보통 원룸 월세가 40~4...,"[0.18744174, 0.18414854, 0.24230862, -0.493406...",0.766916

In [15]:
wdf.유사도.idxmax()

6

In [16]:
wdf.iloc[wdf.유사도.idxmax()]

구분                                                          월세
질문           서울에 월세 싼곳이 많은 이유가 몬가여? 부동산 앱으로 확인하니깐 60/60 이거나...
답변           안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 최홍준 변호...
embedding    [0.03520562, -0.17468536, 0.30488896, -0.76517...
유사도                                                    0.78079
Name: 6, dtype: object

In [17]:
wdf.답변[wdf.유사도.idxmax()]

'안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 최홍준 변호사입니다.  부동산 시세의 경우 수요와 공급으로 정해집니다.  직접 눈으로 확인한것은 아니지만 60/60의 경우 사진상의 크기보다 매우 작은 방이기 때문에 금애이 낮은 것 일수도 있습니다.  수요와 공급으로 금액은 조정될 수밖에 없습니다.'

In [21]:
text = '서울 월세 싼곳'
embedding = model.encode(text)
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding], [x]).squeeze())
answer = wdf.답변[wdf.유사도.idxmax()]
answer

'안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 최홍준 변호사입니다.  부동산 시세의 경우 수요와 공급으로 정해집니다.  직접 눈으로 확인한것은 아니지만 60/60의 경우 사진상의 크기보다 매우 작은 방이기 때문에 금애이 낮은 것 일수도 있습니다.  수요와 공급으로 금액은 조정될 수밖에 없습니다.'